body {
  margin: 0;
  padding: 0;
  display: grid;
  background-image: url(/img/360_F_142712953_1XMycIzw6DswM6in91CnDYt3Ruk0c0QU.jpeg);
}

header {
  background: url(/img/photo.jpg);
  height: 125px;
  display: grid;
  grid-template-columns: auto;
}

.lista {
  list-style: none;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 125px;
}

.lista a {
  color: antiquewhite;
  align-content: center;
  padding: 15px;
  text-align: justify;
}

.lista a:hover {
  color: wheat;
}

.contenedor {
  display: grid;
  grid-template-columns: 700px auto;
  margin: 70px;
  font-size: x-large;
  align-content: c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.formcont {
  display: grid;
  align-content: center;
}

.formtext {
  font-size: xx-large;
}

#nombreform {
  line-height: 50px;
  margin-right: 120px;
  margin-left: 0px;
}

#apellido1 {
  line-height: 45px;
  margin-right: 50px;
  margin-left: 0px;
}

#apellido2 {
  margin-right: 35px;
  margin-left: 0px;
  line-height: 50px;
}

#edad {
  margin-right: 155px;
  margin-left: 0px;
  line-height: 50px;
}

#correo {
  margin-right: 130px;
  margin-left: 0px;
  line-height: 50px;
}

#interes {
  margin-right: 115px;
  margin-left: 0px;
  line-height: 50px;
}

#telefono {
  margin-right: 120px;
  margin-left: 0px;
  line-height: 50px;
}

#ciudad {
  margin-right: 135px;
  margin-left: 0px;
  line-height: 50px;
}

#pais {
  margin-right: 165px;
  margin-left: 0px;
  line-height: 50px;
}

#boton {
  font-size: 20px;
  font-family: Verdana, Helvetica;
  font-weight: bold;
  color: white;
  background: #638cb5;
  border: 0px;
  width: 110px;
  height: 50px;
}

#botonLimpiar {
  font-size: 10px;
  font-family: Verdana, Helvetica;
  font-weight: bold;
  color: white;
  background: #638cb5;
  border: 0px;
  width: 80px;
  height: 19px;
}

footer {
  background: url(/img/photo.jpg);
  height: 125px;
}

.copy {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
